#primary_nav_wrap
{
	margin-top:0px;
	display: flex;
	position: sticky;
	top: 0;
	z-index: 99;

}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	display: flex;
	flex-direction: row-reverse;
	float:right;
	margin:0;
	padding:0;
	background: #f6f6f6;
	width: 100%;
	
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size: 15px;
	line-height:32px;
	padding:0 20px;
	font-family:‘Lucida Console’, Monaco, monospace;
	letter-spacing: 2px;
	transition: all 0.5s ease-in;
	text-transform: uppercase;
	
	
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;

}

#primary_nav_wrap ul li:first-child {
	order: 1;
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s cubic-bezier(0.2, 1, 0.3, 1);
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
	linear-gradient(to right, #55efcb, #5bcaff);
	width: 150px;

}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}