<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/properties-detail.css">
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
  <header>
    <div class="container">
      <nav>
        <input type="checkbox" id="nav" class="hidden">
        <label for="nav" class="nav-btn">
          <i></i>
          <i></i>
          <i></i>
        </label>
        <div class="logo">
          <a href="/">IMO</a>
        </div>
        <div class="nav-wrapper">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/announcements">Properties</a></li>
            <li><a href="/map">Map</a></li>
            <li><a href="/myAccount">My Account</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Register</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>


  <section id="start">
    <div id="overlay"></div>
    <div class="titlu">
      <h2 class="title-articol"> <%= announcement.title %> </h2>
      <ul class="path-prop">
        <li><a href="/">Home</a></li>
        <li><a href="/announcements">Properties</a></li>
        <li class="active1"> <%= announcement.title %> </li>
      </ul>
    </div>
    <div class="property-info">
    </div>
  </section>

  <section id="slider">
    <div class="left-side">
      <div class="slider-container"  onload="showSlides()">
        <!-- <a class="prev" onclick="plusSlides(-1)">&#10094</a> -->

        <%let index=1; announcement.images.forEach(img_path => { %>
        <div class="slides fade">
          <div class="number"><%= index %></div>
          <img src="<%= img_path %>" style="width:100%">
        </div>
        <% index++; }); %>

        <a class="next" onclick="plusSlides(1)">&#10095</a>
        <div style="text-align:center">
          <%let ind=1; announcement.images.forEach(img_path => { %>
          <span class="dot" onclick="currentSlide(Number('<%= ind %>'))"></span>
          <% ind++; }); %>
        </div>
      </div>
    </div>

    <div class="right-side">

      <h1>Seller's profile</h1>

      <div class="profile">
        <a href="/profile/<%= user._id %>">
        <img src="<%= user.picture %>">
        <div class="profile-title">
          <h2> <%= user.fullName %> </h2>
        </div>
        <hr>
        <div class="profile-content">
          <h4>Email: <%= user.email %> </h4>
          <h4>Phone: <%= user.phone %> </h4>
        </div>
        </a>
      </div>

    </div>

  </section>

  <section id="details">
    <div class="technical">
      <h2>Type: <%= announcement.type %> </h2>
      <hr>
      <h2>City: <%= announcement.city %> </h2>
      <hr>
      <h2>Address: <%= announcement.address %> </h2>
      <hr>
      <h2>Price: <%= announcement.price %> &euro;</h2>
      <hr>
    </div>

  <% if(announcement.category === "Apartment") { %>
    <% let specific = announcement.specific_data.apartment; %>
    <div class="technical apartment">
      <h2>Partitioning: <%= specific.partitioning %> </h2>
      <hr>
      <h2>Comfort: <%= specific.comfort %> </h2>
      <hr>
      <h2>Floor: <%= specific.floor %> </h2>
      <hr>
      <h2>Number of rooms: <%= specific.nr_of_rooms %> </h2>
      <hr>
      <h2>Surface: <%= specific.surface %> mp</h2>
      <hr>
    </div>

  <% } %>

  <% if(announcement.category === "House") { %>
    <% let specific = announcement.specific_data.house; %>
    <div class="technical house">
      <h2>Land area: <%= specific.land_area %> mp</h2>
      <hr>
      <h2>Construction year: <%= specific.construction_year %> </h2>
      <hr>
      <h2>Surface: <%= specific.surface %> mp</h2>
      <hr>
    </div>

  <% } %>

  <% if(announcement.category === "Land") { %>
    <% let specific = announcement.specific_data.land; %>

    <div class="technical land">
      <h2>Land type: <%= specific.land_type %> </h2>
      <hr>
      <h2>Land area: <%= specific.land_area %> mp</h2>
      <hr>
      <h2>Land classification: <%= specific.land_classification %> </h2>
      <hr>
    </div>

  <% } %>


    <div class="description">
      <h3> <%= announcement.description %> </h3>
    </div>
  </section>

  <section id="map">

    <div id='info'></div>

    <div id="map-canvas"></div>

    <script>
      function initialize() {

        const URLMARKER = 'http://localhost:4000/api/announcements/'+"<%= announcement._id %>";
        var markere;
        fetch(URLMARKER)

                .then(response => response.json())
                .then(resp => {
                  console.log(resp);
                  element = document.getElementById( 'map-canvas' );
                  latEl = resp.coordinates.latitude;
                  longEl = resp.coordinates.longitude;
                  bounds = new google.maps.LatLngBounds();

                  mapOptions = {

                    zoom: 15 ,
                    center: new google.maps.LatLng( latEl, longEl ),
                    disableDefaultUI: false,
                    scrollWheel: true,
                    draggable: true,


                  };
                  map = new google.maps.Map( element, mapOptions );


                  marker = new google.maps.Marker({
                    position: mapOptions.center,
                    map: map,
                    //draggable: true
                  });


                });
      }
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjEifYjBELDhmPVteAxzU2bsVmYOFiYPY&libraries=places&callback=initialize">
    </script>


  </section>





  <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("slides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {
        slideIndex = 1
      }
      if (n < 1) {
        slideIndex = slides.length
      }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
    }
  </script>



</body>

</html>