@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans);

body {
  margin: 0;
  width: 100%;
  height:100%;
}
section {
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  height:100%;
  object-fit: contain;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
    }

section:nth-of-type(1) {
  background-image:url("1.jpg");
  height: 50vh;
  
    }



    
form h2 {

color:white;
font-family: "Roboto Condensed", sans-serif;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 5vh;

}

section h2 {

color:white;
font-family: "Roboto Condensed", sans-serif;
text-transform: uppercase;
letter-spacing: 6px;
font-size: 5vh;

}

.content {
  height: 20px;
  width: 100%;
  display: flex;
  object-fit: contain;
  padding-top:2vh;
align-content: center;

}

.content .left-side {
  flex: 2;
  
  margin-left:8vw;
  height:150vh;
  object-fit: contain;
  width: 50%;
  display:flex;
  justify-content: space-around;
 flex-wrap: wrap;
  
  
  
  
}

.content .right-side {
  flex: 1;
 margin-right:8vw;
 object-fit: contain;
}


.card-content {
  padding: 0;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size:100%;
}

.card-header {
  position: relative;
  height: 70%;
  overflow: hidden;
  width:33;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  
  border-radius:4px 4px 0 0;
    
}

.card-title {
 
  background: rgb(76, 175, 79,0.8);
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size:1.5vh;
  position: absolute;
  bottom: 0;
  width: 100%;
 
  
}

  select {
    
      padding: 5px 8px;
      width: 80%;
      height: 20%;
      border:none;
      margin:1vh;
      background: #3a3a3ab9;
      color:white;
      -webkit-appearance: none;
      float:left;
  }

  .ptext{

    
    height:60vh;
    
    text-align:center;
    font-size:2vw;
    letter-spacing:6px;
    margin-top: 10px;   
    margin-right:30px;
    float:left;
    
  
  }

  
  .ptext .border{
    background-color:transparent;
    float:left;
    color:#fff;
    padding:15px;
    align-self: right;
    margin-left: 6vw;
    
   
    
 
  }

  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 5vh 1vh;

  }


  .button-cauta {
    background-color: #4caf50; 
    color: white; 

    
  }
  
  .button-cauta:hover {
    background-color: rgb(66, 151, 69);
    color: white;
  }

  .carding{
    background: rgb(240, 240, 240);
    padding:0;
    text-align: center;
    object-fit: contain;
    margin: 10px 10px;
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
    width:45%;
    border-radius: 1%;
    height:40vh; 
    cursor: pointer;
    align-self: center;
  }

  .carding a {
    color: black;
    text-decoration: none;
  }
  
  .carding:hover {
    box-shadow: 3px 8px 15px hsl(0, 0%, 70%)
  }
 
  .cardulet{
    background:#f6f6f6
    height: 20px;
    width: 30px;
    padding: 20px;
    border: 20px;

  }

  .cardulet article{
    color: black;
    font-size: 15px;
    text-align: center;
    
  }

  @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans);

  .cardulet {
    background-color: #f4f4f4;
    transition: all 0.3s cubic-bezier(0.2, 1, 0.3, 1);
    width: 200px;
    margin: 20px auto;
  }
  
  .cardulet-header {
    overflow: hidden;
    width: 100%;
    max-height: 400px;
  }
  
  .cardulet-header img{
    width: 200px;
    height: 300px;
  }
  
  .cardulet-content {
    width: 100%;
    margin: 35px auto;
  }
  
  .cardulet-content h3 {
    font-size: 25px;
    margin-bottom: 0;
    color: #303F9F;
    font-family: 'Montserrat', sans-serif;
  }
  
  .cardulet-content h4 {
    font-size: 14px;
    margin-top: 0;
    color: #4caf50;
    font-family: 'Montserrat', sans-serif;
  }
  
  .cardulet-content p {
    color: #727272;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    
  }
  
  .cardulet-footer {
    border-top: solid 1px white;
    padding: 5px;
  }

