html, body, #map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map-canvas {
	height: 90%;
	width: 90%;
}

#mapz1,#mapz2,#mapz3 {
	padding: 20px 10px;
	display: inline-block;
	font-size: 1em;
	position: center;
	margin:auto;
}

input {
	font-size: 0.75em;
	padding: 10px;
}